body {
    margin: 0;
    padding: 0;
    background: rgb(42, 42, 42);
    font-family: "Lato", sans-serif;
    font-size: 100%;
    font-weight: 300;
    color: rgb(172, 172, 172);
}

header,
footer,
section {
    padding: 6px 10%;
    margin: 0 auto;
    width: 80%
}

h1 {
    display: inline-block;
    margin-right: 20px;
    color: rgb(190, 190, 190);
    font-size: 3.5em;
    font-weight: 700;
}

header h2 {
    display: inline-block;
    color: #94d8ff;
    letter-spacing: 0.05em;
    margin-top: 0px;
    font-weight: 300;
    text-transform: uppercase;
    /*  Stack text shadows.  */
    text-shadow: 0 0 30px #0098b3, 0 0 40px #00c2e4, 0 0 50px #00c2e4, 0 0 80px #00c2e4;
}


#map {
    width: 80vw;
    height: 60vh;
    margin: 5vw auto;
}

#stats-div {
    width: 60vw;
    margin: 5vw auto;
}


p {
    font-size: 1em;
    color: rgba(170, 170, 170);
    ;
    font-weight: 300;
    font-size: 1.2em;
}

hr {
    color: white;
    width: 60vw;
    display: flex;
}

h2,
h3 {
    display: flex;
    justify-content: center;
}

a {
    color: #fd8d3c;
}

#reset {
    position: absolute;
    bottom: 12px;
    left: 55px;
    padding: 5px;
    /* Add styles to match Leaflet UI elements */
    background: rgba(255, 255, 255, 1);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
    border: 1px solid #ddd;
    border-radius: 3px;
    z-index: 2000;
}

#reset:hover {
    background: rgb(234, 227, 173);
    cursor: pointer;
}

#stats {
    column-count: 2;
}

.flex-container {
    display: flex;
    justify-content: space-around;
}

.flex-item {
    flex-basis: calc(33.33% - 20px);
    margin-bottom: 20px;
}

#about {
    width: 60vw;
}

@media screen and (max-width: 900px) {
    .flex-container {
        flex-direction: column;
    }

    .flex-item {
        flex-basis: 100%;
        margin-bottom: 10px;
    }

    #about {
        width: 90vw;
    }
}